@use 'variables' as v;
@use 'mixins' as m;

//------------------------------------------ Boilerplate ------------------------------------------//

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    overflow-wrap: anywhere;
}

html, body {
    height: 100%;
}

@include m.breakpoint-up('large') {
    #root, .main {
        height: 100%;
    }
}

body {
    @include m.linearGradient('Linear-1');
}

img, svg, picture {
    display: block;
}

button, a {
    cursor: pointer;
}
